
{% load static %}
{% load humanize %}

{% block content %}

{% include 'car_rental/navbar_detail.html' %}

<div class="min-h-screen font-sarabun pt-20 pb-12" style="background-color: #fff; ">

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mb-8 pt-6">
        <div class="flex justify-between items-center bg-white rounded-lg shadow-sm p-4 border border-gray-300">
            
            <div class="flex flex-col items-center flex-1 text-[#48a9b9]">
                <i class="fas fa-check-circle text-2xl mb-1"></i>
                <span class="text-xs font-bold">ผลการค้นหา</span>
            </div>

            <div class="flex flex-col items-center flex-1 text-[#48a9b9]">
                <i class="fas fa-check-circle text-2xl mb-1"></i>
                <span class="text-xs font-bold">รายละเอียดรถ</span>
            </div>

            <div class="flex flex-col items-center flex-1 text-[#48a9b9]">
                <i class="fas fa-check-circle text-2xl mb-1"></i>
                <span class="text-xs font-bold">ข้อมูลผู้ใช้</span>
            </div>

            <div class="flex flex-col items-center flex-1 text-[#48a9b9]">
                <i class="fas fa-check-circle text-2xl mb-1"></i>
                <span class="text-xs font-bold">ชำระเงิน</span>
            </div>

        </div>
    </div>

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 lg:grid-cols-12 gap-12">
            
            <div class="lg:col-span-7 space-y-12 pt-4 flex flex-col items-center">
                
            <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">ชำระเงินและรับการแจ้งเตือน</h2>

            <div class="w-full max-w-sm bg-white p-8 rounded-lg shadow-xl border border-gray-200 text-center">
                
                <h3 class="text-xl font-semibold mb-6">สแกนคิวอาร์โค้ดเพื่อรับแจ้งเตือน</h3>

                <img src="{% static 'car_rental/images/QRcode.png' %}" 
                    alt="QR Code Line OA" 
                    class="w-48 h-48 mx-auto object-contain rounded-lg mb-6 shadow-md border border-gray-300">
                <p class="text-gray-600 mb-8 text-sm">
                    สแกน Line OA เพื่อรับการแจ้งเตือนสถานะการจองและการชำระเงิน
                </p>

                <button class="w-full bg-[#48a9b9] hover:bg-[#3ba0b0] text-white text-xl font-medium py-3 shadow-lg transition">
                    <i class="fas fa-money-bill-wave mr-2"></i> จ่ายเงิน
                </button>
                
            </div>
        </div>

            <div class="lg:col-span-5">
                <div class="bg-gray-100/70 p-8 rounded-lg border border-gray-300 h-full relative">
                    
                    <div class="mb-6 flex justify-center">
                        {% if car.images.first %}
                            <img src="{{ car.images.first.image.url }}" class="w-full max-w-xs object-contain" alt="{{ car.model }}">
                        {% else %}
                            <div class="w-full h-48 bg-gray-200 flex items-center justify-center">No Image</div>
                        {% endif %}
                    </div>

                    <h3 class="text-2xl font-bold text-black mb-1">{{ car.brand }} {{ car.model }}</h3>
                    <p class="text-gray-600 font-medium mb-4">รายละเอียดรถ</p>

                    <div class="space-y-2 mb-6 text-sm text-gray-700 font-medium">

                        <div class="flex items-start gap-2">
                            <i class="fas fa-check text-green-700 mt-0.5"></i>
                            <span>ประเภทบริการ: {{ car.get_service_type_display }}</span>
                        </div>

                        <div class="flex items-start gap-2">
                            <i class="fas fa-check text-green-700 mt-0.5"></i>
                            <span>ประเภทรถ: {{ car.get_car_type_display }}</span>
                        </div>

                        <div class="flex items-start gap-2">
                            <i class="fas fa-check text-green-700 mt-0.5"></i>
                            <span>เกียร์: {{ car.get_transmission_display }}</span>
                        </div>

                        <div class="flex items-start gap-2">
                            <i class="fas fa-check text-green-700 mt-0.5"></i>
                            <span>เชื้อเพลิง: {{ car.get_fuel_system_display }}</span>
                        </div>

                        <div class="flex items-start gap-2">
                            <i class="fas fa-check text-green-700 mt-0.5"></i>
                            <span>ที่นั่ง: {{ car.num_seats }} คน</span>
                        </div>

                        <div class="flex items-start gap-2">
                            <i class="fas fa-check text-green-700 mt-0.5"></i>
                            <span>สัมภาระ: {{ car.num_luggage }} ใบ</span>
                        </div>

                        {% if car.has_child_seat %}
                        <div class="flex items-start gap-2">
                            <i class="fas fa-check text-green-700 mt-0.5"></i>
                            <span>มีที่นั่งเด็ก (+{{ car.accessory_price }} บ./วัน)</span>
                        </div>
                        {% endif %}
                        
                        <p class="text-gray-600 font-medium mb-4">รายละเอียดรถเพิ่มเติม</p>
                        {% if car.description %}
                        <div class="flex items-start gap-2">
                            <i class="fas fa-check text-green-700 mt-0.5"></i>
                            <span class="line-clamp-2">
                                {{ car.description }}
                            </span>
                        </div>
                        {% endif %}

                    </div>


                    <div class="text-4xl font-medium text-red-600 mb-6">
                        {{ total_price|intcomma }} THB
                    </div>

                    <h2 class="text-xl font-bold mb-4 text-gray-800">การรับและคืนรถ</h2>

                    <div class="space-y-6 border-l-2 border-dashed border-gray-400 pl-4">
                        <div class="relative">
                            <span class="absolute -left-5 top-0 w-4 h-4 bg-gray-600 rounded-full border-2 border-white"></span>
                            <p class="text-sm text-gray-700">รับรถวันที่ {{ pickup_datetime|date:"d M Y" }}</p>
                            <p class="font-bold text-gray-900">{{ pickup_datetime|time:"H:i" }} น.</p>
                            <p class="text-sm text-gray-700">สถานที่: {{ location }}</p>
                        </div>

                        <div class="relative">
                            <span class="absolute -left-5 top-0 w-4 h-4 bg-gray-600 rounded-full border-2 border-white"></span>
                            <p class="text-sm text-gray-700">คืนรถวันที่ {{ dropoff_datetime|date:"d M Y" }}</p>
                            <p class="font-bold text-gray-900">{{ dropoff_datetime|time:"H:i" }} น.</p>
                            <p class="text-sm text-gray-700">สถานที่: {{ location }}</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}