<aside class="w-full md:w-1/4 flex flex-col space-y-2 h-screen relative">
    
    <div class="mb-4 px-3">
        <h3 class="text-gray-400 text-sm font-bold uppercase">เมนูผู้เช่า</h3>
    </div>

    <a href="{% url 'booking_history' %}" 
       class="p-3 rounded-lg font-semibold flex items-center gap-3 transition-colors
       {% if request.resolver_match.url_name == 'booking_history' %}
           bg-[#47B3C4] text-white shadow-md
       {% else %}
            bg-gray-200 text-gray-800 hover:bg-gray-300
       {% endif %}">
       ประวัติการเช่ารถ
    </a>

    <a href="{% url 'profile' %}" 
       class="p-3 rounded-lg font-semibold
       {% if request.resolver_match.url_name == 'profile' %}
           bg-warp-blue text-white
       {% else %}
           bg-gray-200 text-gray-800 hover:bg-gray-300
       {% endif %}">
       ข้อมูลส่วนตัวของฉัน
    </a>
    
    <div class="mt-auto pt-8">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" 
                    class="w-full bg-white text-red-500 border border-red-200 p-3 rounded-lg font-semibold hover:bg-red-50 hover:border-red-300 transition flex items-center justify-center gap-2">
                ออกจากระบบ
            </button>
        </form>
    </div>
</aside>